.c-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-bottom: 2px solid #038C8C;
}
.c-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
}
.c-nav__inner {
  justify-self: center;
  display: flex;
}
.c-nav__link {
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #038C8C;
  text-decoration: none;
}
.c-nav__link:not(:last-child):after {
  content: ' / ';
}
.c-nav__logo {
  width: 5rem;
}
.c-nav__actions {
  justify-self: end;
  font-size: 1.6rem;
  color: #038C8C;
  a {
    color: #038C8C;
  }
}
