@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto:wght@300;400;500;700&display=swap');

$color-primary: #038C8C;
$color-secondary: #F25C05;

$font-main: 'Roboto', sans-serif;
$font-secondary: 'Pattaya', sans-serif;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 1rem;
  padding-left: 1rem;
}
